<a href="https://colab.research.google.com/github/ricktorzynski/tensorflow-drupal/blob/main/Book_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings

import tensorflow.keras as tf

In [ ]:
ratings_df = pd.read_csv("book-data/ratings.csv")
books_df = pd.read_csv("book-data/books.csv")

In [ ]:
model = tf.models.load_model('model')

In [ ]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 1, 30)        300030      input_1[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 30)        1602750     input_2[0][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 30)           0           embedding[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 30)           0           embedding_1[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 60)           0           flatten[0][0]
                                                                 flatten_1[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 300)          18300       concatenate[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 1)            301         dense[0][0]
==================================================================================================
Total params: 1,921,381
Trainable params: 1,921,381
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
# Extract embeddings
book_em = model.get_layer('embedding')
book_em_weights = book_em.get_weights()[0]
book_em_weights.shape

(10001, 30)

In [ ]:
books_df_copy = books_df.copy()
books_df_copy = books_df_copy.set_index("book_id")

In [ ]:
b_id =list(ratings_df.book_id.unique())
b_id.remove(10000)
dict_map = {}
for i in b_id:
    dict_map[i] = books_df_copy.iloc[i]['title']
    
out_v = open('vecs.tsv', 'w')
out_m = open('meta.tsv', 'w')
for i in b_id:
    book = dict_map[i]
    embeddings = book_em_weights[i]
    out_m.write(book + "\n")
    out_v.write('\t'.join([str(x) for x in embeddings]) + "\n")
    
out_v.close()
out_m.close()

In [ ]:
#Making recommendations for user 100
book_arr = np.array(b_id) #get all book IDs
user = np.array([100 for i in range(len(b_id))])
pred = model.predict([book_arr, user])
pred

array([[3.4477377],
       [3.1564796],
       [3.305841 ],
       ...,
       [3.107275 ],
       [3.1836162],
       [3.0474133]], dtype=float32)

In [ ]:
pred = pred.reshape(-1) #reshape to single dimension
pred_ids = (-pred).argsort()[0:5]
pred_ids

array([ 479,  950, 7886, 4388,  948])

In [ ]:
books_df.iloc[pred_ids]

      book_id  ...                                    small_image_url
479       480  ...  https://images.gr-assets.com/books/1329189152s...
950       951  ...  https://images.gr-assets.com/books/1327346693s...
7886     7887  ...  https://s.gr-assets.com/assets/nophoto/book/50...
4388     4389  ...  https://s.gr-assets.com/assets/nophoto/book/50...
948       949  ...  https://images.gr-assets.com/books/1327866286s...

[5 rows x 23 columns]

In [ ]:
web_book_data = books_df[["book_id", "title", "image_url", "authors", "original_publication_year"]]
web_book_data = web_book_data.sort_values('book_id')
web_book_data.head()

   book_id  ... original_publication_year
0        1  ...                    2008.0
1        2  ...                    1997.0
2        3  ...                    2005.0
3        4  ...                    1960.0
4        5  ...                    1925.0

[5 rows x 5 columns]

In [ ]:
web_book_data.to_json(r'web_book_data.json', orient='records')